#sorting {
  color: white;
  border-radius: 5px;
  padding: 14px;
  background-color: #3AAFB9;
}

#selection {
  color: white;
  border-radius: 5px;
  padding: 14px;
  background-color: #3AAFB9;
}

.radio {
  color: black;
  margin-right: 30px;
}

.btnsubmit {
  background-color: #3AAFB9;
  padding: 8px;
  border-radius: 5px;
  border-color: darkgrey;
  color: white;
}

.jumbotron{
  background-color: #D8E4FF;
}

#output{
  background-color: #E7ECEF;
  text-align: left;
}

span {
  float: right;
}
